# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env

# IntelliJ
.idea/

# VS Code
.vscode/

# Node
node_modules/

# macOS
.DS_Store

# Logs
*.log

# Kubernetes temp files
*.tmp

# Coverage
.coverage
htmlcov/

# Python build files
build/
dist/
*.egg-info/